extends ./main-layout.pug

block content

  main
    body
      div.container(id="edit-jobs--page")
        form(action="/feed/edit-jobs" method="POST")
          div.card(id="edit-jobs--card")
            h1 Edit Jobs
            input(type="text" name="job" value=post.job)#job
            input(type="text" name="description" value=post.description)#description
            input(type="text" name="address" value=post.address)#address
            input(type="text" name="zipCode" value=post.zipCode)#address
            input(type="text" name="supplies" value=post.supplies)#supplies
            input(type="text" name="appointment" value=post.appointment)#appointment
            input(type="text" name="operator" value=post.operator)#operator
            input(type="hidden" name="_id" value=post._id )
            button(class="btn btn-primary" type="submit" id="submit_button") Update Job